* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    padding: 40px;
    width: 50%;
}


.back-link {
    display: flex;
    margin-bottom: 10px;
    color: #112211;
    text-decoration: none;
    margin-top: 50px;
    font-size: 14px;
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
}

p {
    margin-bottom: 30px;
    color: #666;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #8DD3BB;
    border: none;
    color: #112211;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #70d46e;
}

.login-options {
    margin-top: 20px;
    text-align: center;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.social-button {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    width: 30%;
    border: 2px solid #8DD3BB;
}

.facebook {
    background-color: white;
    border-radius: 5px;
}

.google {
    background-color: white;
}

.apple {
    background-color: white;
}

.image-container {
    width: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    object-fit: cover;
    padding: 30px;
    padding-right: 45px;
    margin-bottom: -9px;
    
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    font-size: 14px;
    margin: 48px;
  }
  
  .divider::before,
  .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
  }
  
  .divider::before {
    margin-right: 10px;
  }
  
  .divider::after {
    margin-left: 10px;
  }

  